<p>home-page works!</p>

<div class="row">
  <div  class="col-4">
    <div class="card p-2">
      Product
      <button type="button" class="btn btn-primary" (click)="goto('products')">view</button>
    </div>
  </div>
  <div  class="col-4">
    <div class="card p-2">
    sharing data
    <button type="button" class="btn btn-primary" (click)="goto('sharing-data')">view</button>
    </div>

  </div>
  <div  class="col-4">
    <div class="card p-2">
    element ref
    <button type="button" class="btn btn-primary" (click)="goto('element-ref')">view</button>
  </div>

  </div>
  <!-- <div  class="col-4">
    <button type="button" class="btn btn-primary" (click)="goto('products')">view</button>
  </div> -->
</div>
